[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MyFreeLab
Comment=  Project management for freelance.
Comment[es]=  Gestión de proyectos para freelancer.
Comment[es_MX]=  Gestión de proyectos para freelancer.
Comment[en_GB]=  Project management for freelance.
Comment[fr]=  Gestion de projet pour indépendant.
Comment[it]=  Gestione progetti per libero professionista.
Comment[pt]=  Gerenciamento de projetos para freelance.
Comment[ru]=  Управление проектами для фрилансера.
Comment[zh_CN]=  自由職業者的項目管理。
Exec=myfreelab
TryExec=myfreelab
Icon=myfreelab
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Utility;
Keywords=Freelance;myfreelab;MyFreeLab;Reporte;Report;Proyect;Proyecto;Requirement;Requisito;
