[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=MyFreeLab
Comment= Gestión de proyectos para freelancer.
Exec=myfreelab
TryExec=myfreelab
Icon=myfreelab
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;Utility;
Keywords=Freelance;myfreelab;MyFreeLab;Reporte;Proyecto;
