[Desktop Entry]
Version=1.0
Name=MyFreeLab v0.9.30Alpha
Comment= El programa sirve para gestionar proyectos para freelance.
Exec=myfreelab
TryExec=myfreelab
Icon=myfreelab
Terminal=true
Type=Application
StartupNotify=true
Categories=Office;
Keywords=Freelance;myfreelab;MyFreeLab;Reporte;Proyecto;
